.idea/
.vscode/
.aws/

__pycache__/
**/__pycache__
**/__pycache__/*


migrations/
tests/results.xml

logs/
logs/*
.env

**/.DS_Store
**/.sqlite
*.sqlite
**/*.pyc
venv/

**/newrelic.ini

**/*.ipynb
**/docker-compose.local.yml
**/Dockerfile.local
**/.env-docker-local
